<section>
  <h1>Liste des Cocktails</h1>
  <input type="text" [(ngModel)]="searchTerm" class="search-input" placeholder="Rechercher un cocktail">

  <!-- Conteneur des cocktails -->
  <div class="cocktails-container">
    @for(cocktail of cocktails | filter: searchTerm: 'name'; track $index) {
    <div class="cocktail">
      <div class="infos-ctn" routerLink="/detail/{{cocktail.id}}">
        <img [src]="'/assets/images/' + cocktail?.image" (error)="onImageError($event)" alt="{{ cocktail?.name }}">
        <p>{{ cocktail.name }}</p>
        <p>{{ cocktail.price | currency:'EUR' }}</p>
      </div>
      <button (click)="addToBasket(cocktail)">Ajouter</button>
    </div>
    }
  </div>
</section>